* Einladen der Pandas Bibliothek mit [import](https://wiki.pythonde.pysv.org/Import)

In [ ]:
# einlesen der Pandas Bibliothek

* Lesen des csv Files ("/content/drive/MyDrive/vbg/DatenAnonymisiert_ansi_part.csv") mit der Funktion [read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) in die Variable "daten"
* Hinweis: Richtiges Encoding verwenden, Daten sind mit ";" separiert
* Verändern des Indexes auf die Spalte LNR

In [ ]:
# Einlesen der CSV Datei
daten =

                                         UNFALLHERGANG  ...                        UNFART_BEZ
LNR                                                     ...
1    Versicherter ist auf dem Fahrrad auf dem Nachh...  ...  Leereintrag
2    Unfallort:\nDer Pat. ist auf Glatteis ausgerut...  ...  Leereintrag
3    Auf dem WEg zur Arbeit auf Glatteis ausgerutsc...  ...  Leereintrag
4    Die Versicherte habe ein Garagentor auf dem Ko...  ...  Leereintrag
5    Fußläufige Vorstellung in unserer ZNA. Die Ver...  ...  Leereintrag

[5 rows x 3 columns]

* Anzeigen der ersten und letzten 5 Zeilen mit [head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) und [tail](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html)

In [ ]:
# Anzeigen der Ersten 5 Zeilen
daten.

In [ ]:
# Anzeigen der letzten 5 Zeilen
daten.


* Anzeigen der Ausprägungen der einzelnen Spalten mit [info](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)

In [ ]:
# Anzeigen der Ausprägungen der einzelnen Spalten  
daten.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262837 entries, 1 to 262837
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   UNFALLHERGANG  262837 non-null  object
 1   UNFART_NAM     262837 non-null  int64
 2   UNFART_BEZ     262837 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.0+ MB

* Gibt es Unfälle bei denen mindestens ein Wert nicht gefüllt ist? Verwenden Sie dazu die Funktion [isnull](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html) in Verbindung mit [sum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)

In [ ]:
# Gibt es Felder bei denen mind. ein Wert null ist?
daten.

UNFALLHERGANG    0
UNFART_NAM       0
UNFART_BEZ       0
dtype: int64

* Wie ist die Verteilung der Spalte "UNFART_BEZ"? [Link](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html). Verwenden Sie dazu die Funktion [describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

In [ ]:
# welche Ausprägungen hat die Spalte UNFART_BEZ?

count                               262837
unique                                  12
top       Arbeitsunfall b.betriebl.Tätigk.
freq                                146836
Name: UNFART_BEZ, dtype: object

* Wieviele Unfälle gibt es für die Top 10 Unfallarten? Verwende dazu die Kombination aus [value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.value_counts.html) und [head](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html)

In [ ]:
# Anzeigen der Top 10

Arbeitsunfall b.betriebl.Tätigk.    146836
Kein Versicherungsfall               41687
Wegeunfall (inf.Straßenverkehr)      30224
Wegeunfall                           17349
Leereintrag                          15965
Unfallart vorläufig unbekannt         4305
Auf Dienstwegen(Straßenverk.)         2154
Arbeitsunfall auf Dienstwegen         1595
Unfallart endgültig unbekannt         1405
B.betriebl.Tätigk.(Straßenverk.)      1162
Name: UNFART_BEZ, dtype: int64

* Lassen Sie sich die Zeile mit der LNR=20000 anzeigen. [Link](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html#how-do-i-filter-specific-rows-from-a-dataframe)

In [ ]:
daten.

UNFALLHERGANG    UV war mit dem Fahrrad auf dem Weg zur Mittags...
UNFART_NAM                                                       8
UNFART_BEZ                        Unfallart vorläufig unbekannt
Name: 20001, dtype: object

* Lassen Sie sich alle Zeilen mit der Unfallart "Leereintrag" anzeigen. [Link](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html#how-do-i-filter-specific-rows-from-a-dataframe)

In [ ]:
daten_unbekannt = (daten['UNFART_BEZ'] == "Leereintrag")
daten_unbekannt.head()

LNR
1    True
2    True
3    True
4    True
5    True
Name: UNFART_BEZ, dtype: bool