* Einladen der Pandas Bibliothek mit [import](https://wiki.pythonde.pysv.org/Import)
* Lesen des csv Files ("/content/drive/MyDrive/vbg/DatenAnonymisiert_ansi_part.csv") mit der Funktion [read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) in die Variable "daten"
* Hinweis: Richtiges Encoding verwenden, Daten sind mit ";" separiert
* Verändern des Indexes auf die Spalte LNR
* Anzeigen der ersten und letzten 5 Zeilen mit [head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) und [tail](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html)
* Anzeigen der Ausprägungen der einzelnen Spalten mit [info](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html)
* Gibt es Unfälle bei denen mindestens ein Wert nicht gefüllt ist? Verwenden Sie dazu die Funktion [isnull](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html) in Verbindung mit [sum](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html)
* Wie ist die Verteilung der Spalte "UNFART_BEZ"? [Link](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html).
* Lassen Sie sich die Zeile mit der LNR=20000 anzeigen. [Link](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/03_subset_data.html#how-do-i-filter-specific-rows-from-a-dataframe)
* Lassen Sie sich alle Zeilen mit der "UNFART_BEZ"=Leereintrag anzeigen

In [ ]:
# einlesen der Pandas Bibliothek
import pandas as pd

In [ ]:
# Einlesen der CSV Datei
daten = pd.read_csv("/content/drive/MyDrive/vbg/DatenAnonymisiert_ansi.CSV",encoding='latin1',delimiter=';', index_col=1)
daten.head(5)

                                         UNFALLHERGANG  ...                        UNFART_BEZ
LNR                                                     ...
1    Versicherter ist auf dem Fahrrad auf dem Nachh...  ...  Leereintrag
2    Unfallort:\nDer Pat. ist auf Glatteis ausgerut...  ...  Leereintrag
3    Auf dem WEg zur Arbeit auf Glatteis ausgerutsc...  ...  Leereintrag
4    Die Versicherte habe ein Garagentor auf dem Ko...  ...  Leereintrag
5    Fußläufige Vorstellung in unserer ZNA. Die Ver...  ...  Leereintrag

[5 rows x 3 columns]

In [ ]:
daten.tail(5)

                                            UNFALLHERGANG  ...                        UNFART_BEZ
LNR                                                        ...
262833                              D-Bericht angefordert  ...  Kein Versicherungsfall
262834  Unfallort : Achenbach Krankenhaus / Innere Abt...  ...  Kein Versicherungsfall
262835                                          unbekannt  ...  Kein Versicherungsfall
262836  Der Versicherte wurde vom Pflegepersonal im Pa...  ...  Kein Versicherungsfall
262837  Der Patient ist im Zimmer gestürzt und mit dem...  ...  Kein Versicherungsfall

[5 rows x 3 columns]

In [ ]:
daten.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262837 entries, 1 to 262837
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   UNFALLHERGANG  262837 non-null  object
 1   UNFART_NAM     262837 non-null  int64
 2   UNFART_BEZ     262837 non-null  object
dtypes: int64(1), object(2)
memory usage: 8.0+ MB

In [ ]:
daten.isnull().sum()

UNFALLHERGANG    0
UNFART_NAM       0
UNFART_BEZ       0
dtype: int64

In [ ]:
daten['UNFART_BEZ'].describe()

count                               262837
unique                                  12
top       Arbeitsunfall b.betriebl.Tätigk.
freq                                146836
Name: UNFART_BEZ, dtype: object

In [ ]:
daten['UNFART_BEZ'].value_counts().head(10)

Arbeitsunfall b.betriebl.Tätigk.    146836
Kein Versicherungsfall               41687
Wegeunfall (inf.Straßenverkehr)      30224
Wegeunfall                           17349
Leereintrag                          15965
Unfallart vorläufig unbekannt         4305
Auf Dienstwegen(Straßenverk.)         2154
Arbeitsunfall auf Dienstwegen         1595
Unfallart endgültig unbekannt         1405
B.betriebl.Tätigk.(Straßenverk.)      1162
Name: UNFART_BEZ, dtype: int64

In [ ]:
daten.iloc[20000]

UNFALLHERGANG    UV war mit dem Fahrrad auf dem Weg zur Mittags...
UNFART_NAM                                                       8
UNFART_BEZ                        Unfallart vorläufig unbekannt
Name: 20001, dtype: object

In [ ]:
daten_unbekannt = (daten['UNFART_BEZ'] == "Leereintrag")
daten_unbekannt.head()

LNR
1    True
2    True
3    True
4    True
5    True
Name: UNFART_BEZ, dtype: bool

In [ ]:
daten[daten['UNFART_BEZ'] == "Leereintrag"].head()

Empty DataFrame
Columns: [UNFALLHERGANG, UNFART_NAM, UNFART_BEZ]
Index: []

In [ ]:
daten[daten['UNFART_BEZ'].str.strip() == "Leereintrag"].head()

                                         UNFALLHERGANG  ...                        UNFART_BEZ
LNR                                                     ...
1    Versicherter ist auf dem Fahrrad auf dem Nachh...  ...  Leereintrag
2    Unfallort:\nDer Pat. ist auf Glatteis ausgerut...  ...  Leereintrag
3    Auf dem WEg zur Arbeit auf Glatteis ausgerutsc...  ...  Leereintrag
4    Die Versicherte habe ein Garagentor auf dem Ko...  ...  Leereintrag
5    Fußläufige Vorstellung in unserer ZNA. Die Ver...  ...  Leereintrag

[5 rows x 3 columns]