In [ ]:
import re
import pandas as pd

In [ ]:
daten = pd.read_csv("/content/drive/MyDrive/vbg/DatenAnonymisiert_ansi.CSV",encoding='latin1',delimiter=';', index_col=1)
daten.head(5)

                                         UNFALLHERGANG  ...                        UNFART_BEZ
LNR                                                     ...
1    Versicherter ist auf dem Fahrrad auf dem Nachh...  ...  Leereintrag
2    Unfallort:\nDer Pat. ist auf Glatteis ausgerut...  ...  Leereintrag
3    Auf dem WEg zur Arbeit auf Glatteis ausgerutsc...  ...  Leereintrag
4    Die Versicherte habe ein Garagentor auf dem Ko...  ...  Leereintrag
5    Fußläufige Vorstellung in unserer ZNA. Die Ver...  ...  Leereintrag

[5 rows x 3 columns]

In [ ]:
daten["UNFALLHERGANG"].str.findall(r'(\n)').count()

262837

* Ersetzen aller New Line Zeichen durch ein Leerzeichen mit der Funktion [replace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html)

In [ ]:
daten["UNFALLHERGANG"].str.replace(r'(\n)', r' ')

LNR
1         Versicherter ist auf dem Fahrrad auf dem Nachh...
2         Unfallort: Der Pat. ist auf Glatteis ausgeruts...
3         Auf dem WEg zur Arbeit auf Glatteis ausgerutsc...
4         Die Versicherte habe ein Garagentor auf dem Ko...
5         Fußläufige Vorstellung in unserer ZNA. Die Ver...
                                ...
262833                                D-Bericht angefordert
262834    Unfallort : Achenbach Krankenhaus / Innere Abt...
262835                                            unbekannt
262836    Der Versicherte wurde vom Pflegepersonal im Pa...
262837    Der Patient ist im Zimmer gestürzt und mit dem...
Name: UNFALLHERGANG, Length: 262837, dtype: object

In [ ]:
daten["UNFALLHERGANG"].str.count(r'(li\.)').sum()

18886

In [ ]:
daten["UNFALLHERGANG"].str.count(r'(UV\.)').sum()

658

In [ ]:
daten["UNFALLHERGANG"].str.count(r'(UV)').sum()

73124

In [ ]:
daten["UNFALLHERGANG"].str.count(r'(Sz )').sum()

82